* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import "./variables/mediaquery";

@import "./variables/extend";


.titulo {
    text-align: center;
    width: 75%;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: black;
    border-radius: 20px;
    color: red;

    &:hover {
        transform: rotateY(25deg) scale(1.1);
        cursor: pointer;
        transition: all 0.5s ease-out;
    }
}

.tituloStock {
    text-align: center;
    width: 75%;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: black;
    border-radius: 20px;
    color: red;

    &:hover {
        transform: rotateY(25deg) scale(1.1);
        cursor: pointer;
        transition: all 0.5s ease-out;
    }
}

.card-text {
    color: black;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.card {
    &:hover {
        transform: translateY(-5px) scale(1.05);
        border: solid red 2px;
        padding: 1.5rem 1.5rem;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
        margin: 7px 7px;
    }
}

.stockHombre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;

}

.stockMujer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tituloUbi {
    text-align: center;
    width: 75%;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: black;
    border-radius: 20px;
    color: red;

    &:hover {
        transform: rotateY(25deg) scale(1.1);
        cursor: pointer;
        transition: all 0.5s ease-out;
    }
}

.ubicacion {
    margin: 1rem auto;
    text-align: center;

    .mapa {
        width: 80vw;
        height: 60vh;
    }
}

.divFooter {
    background-color: black;
    margin-bottom: 0%;

    .textoFooter {
        color: white;
        text-align: center;
    }
}

.tituloAbout {
    text-align: center;
    width: 75%;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: black;
    border-radius: 20px;
    color: red;

    &:hover {
        transform: rotateY(25deg) scale(1.1);
        cursor: pointer;
        transition: all 0.5s ease-out;
    }
}

.quienesSomos {
    background-color: darkgrey;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 2.5rem;
    font-size: 22px;
    font-weight: 600;
    border-radius: 20px;

}

.textoNosotros {
    text-align: center;
    @extend %estiloLetra;
}